<!DOCTYPE html>
<html>
  <head>
    <title>Today's <%=n%> most interesting tweets</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Today's <%=n%> most interesting tweets</h2>
    <p><h4>Click to open article</h4></p>
    <table border="5" style="width:100%">
    <tbody border="1">
        <% tweetsWithUrl.forEach(function(data) { %>     
        <tr>
            <td><a href="<%=data[1]%>"><h3><%=data[0]%></h3></a></td>
        </tr>
        <% }) %>
    </tbody>       
    </table>
  </body>
</html>
